## Data Science Jobs in India - Naukri

<strong><a href="https://www.naukri.com/">Naukri.com</a></strong> is an Indian employment website operating in India and Middle East. Naukri.com was founded in March 1997. Naukri was ranked No.1 by 9 independent sources, placing it way ahead of competition.Google Trends names Naukri “the most preferred job search destination in India”.

In this project, I web scraped first 12,000 results obtained for <strong>'data scientist'</strong> job role in <strong>India</strong>

In [14]:
# pip install selenium

In [2]:
# import libraries

import pandas as pd
import re
from selenium import webdriver

import warnings
warnings.filterwarnings('ignore')

if you are using Chrome, use the code <br>
```{python}
driver = webdriver.Chrome(executable_path='/path/chromedriver')
```
- To download chromedriver, <a href="https://chromedriver.storage.googleapis.com/index.html?path=101.0.4951.15/">click here</a>
- To download geckodriver, <a href="https://github.com/mozilla/geckodriver/releases">click here</a>

In [3]:
# webdriver for Firefox - geckodriver
driver = webdriver.Firefox(executable_path='/home/futures/Documents/geckodriver')

# sticky timeout to implicitly wait for an element to be found
driver.implicitly_wait(20) 

# open url in the browser
driver.get('https://www.naukri.com/')

In [4]:
# enter job role - data scientist
role=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
role.send_keys('data scientist')

# location - India
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys('india')

# click search
driver.find_element_by_class_name('qsbSubmit').click()

In [5]:
# new dataframe fwith required columns
df=pd.DataFrame(columns=['Job_Role','Company','Location','Job Experience','Skills/Description'])
df

Empty DataFrame
Columns: [Job_Role, Company, Location, Job Experience, Skills/Description]
Index: []

In [6]:
# page number
p = 1

condition = True

while condition:
    
    try:
        
        # 20 results per page
        for i in range(1,21):

            role = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[2]/div[2]/article[{}]/div[1]/div[1]/a'.format(i)).text
            company = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[2]/div[2]/article[{}]/div[1]/div[1]/div/a[1]'.format(i)).text
            location = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[2]/div[2]/article[{}]/div[1]/div[1]/ul/li[3]/span[1]'.format(i)).text
            experience = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[2]/div[2]/article[{}]/div[1]/div/ul/li[1]/span'.format(i)).text.replace(' Yrs','')
            skill = driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[2]/div[2]/article[{}]/ul'.format(i)).text.split('\n')
            
            # append collected information to dataframe 
            df.loc[len(df.index)] = [role,company,location,experience,skill]
        
        p = p + 1
        
        # click next
        driver.find_element_by_xpath('/html/body/div/div[3]/div[2]/section[2]/div[3]/div/a[2]').click()

        
    except NoSuchElementException:
        
        # refresh page in case of exception
        driver.refresh() 
        
    
    # total 12700+ results showed, 20 results per page => 600+ pages
    
    # stop after 600 pages
    if p > 600:
        condition = False

In [7]:
# shape of the dataframe
df.shape

(12000, 5)

12,000 results are scraped into a dataframe

In [11]:
# first five rows
df.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Data Analyst / Data Scientist,JK Technosoft,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",5-7,"[SAP, SQL Server, Oracle, analytical, IT Skill..."
1,Sr. Data Scientist,Thomson Reuters,Bangalore/Bengaluru,3-6,"[Computer science, Customer acquisition, Busin..."
2,Senior Data Scientist,IKEA Group,Bangalore/Bengaluru,5-10,"[Computer science, Operations research, Perfor..."
3,Data Scientist/ Analyst Specialist,TransOrg Solutions Services (P) Ltd.,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",1-4,"[Machine Learning, Python, SQL, R, Logistic Re..."
4,Job Opening For Data Scientist - Rapid Miner,Wipro,"Kochi/Cochin, Kolkata, Gurgaon/Gurugram, Chenn...",6-11,"[Data Science, Rapid Miner, IT Skills, Python,..."

In [12]:
# last five rows
df.tail()

,Job_Role,Company,Location,Job Experience,Skills/Description
11995,Teradata Developers with US based top IT Client,Reputed US based MNC,Hyderabad/Secunderabad,4-9,"[SQL Server, Teradata, IT Skills, Cloud, Chang..."
11996,"Hiring For Azure+ETL Professionals @ Coforge, ...",Coforge,Gurgaon/Gurugram,6-11,"[Agile, Tensorflow, Azure, ETL, IT Skills, Dat..."
11997,"Technical Expert, Principal Solutions Architect",Landis+Gyr,Noida,10-14,"[advanced analytics, Architect, Automation, Us..."
11998,Hiring For DBA Head/ Manager,IndiaMART,Noida,7-11,"[IT Skills, PHP, Cloud, Oracle, Big Data, data..."
11999,"Manager, Business Analytics",Micron Tech,Hyderabad/Secunderabad,5-10,"[engineering, computer science, statistics, In..."

In [15]:
# save as excel file
df.to_excel('naukri_data_science_jobs_india.xlsx',index=False)